<html>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <body>
        <div>
            <h1>Menu Test</h1>
            <div id="hello"></div>

            <script>
                // Ensure that the LIFF library is initialized
                var testElement = document.getElementById('hello');
                testElement.innerHTML = "Hello World";
            </script>

            <!-- <script>
                window.onload = function () {
                    // Initialize LIFF
                    liff.init({
                        liffId: '2002392025-Zk8LPK6K'
                    })
                    .then(() => {
                        // LIFF initialization successful
                        var outputElement = document.getElementById('output');
                        outputElement.innerHTML = "LIFF initialized";

                    })
                    .catch((error) => {
                        // Handle initialization failure
                        console.error('LIFF initialization failed', error);
                    });
                };
            </script> -->
        </div>
    </body>
</html>